#wrapper {
	height: 100%;
	width: 100%;
	
	overflow-x: hidden;
	overflow-y: overlay;

	animation: fadeIn 1.25s;
	opacity: 1;

	#wereldbol {
		width: 100%;
		margin-bottom: calc(1vh + 1vw);
	}

	#Leaf {
		margin-left: 48%;
		width: 4%;
		max-height: 400px;
		margin-bottom: calc(1vh + 1vw);
	}
}

@media only screen and (max-width: 900px) {
    @import "./styling.mobile.scss";
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
	   opacity: 1;
	}
  }