#wrapper {
    grid-template-columns: 1fr 1fr;
    
    #content {
        background-color: red;
    }

    #visual {
        float: right;
        width: calc(50% - 1.25%);
        height: 100%;

        img {
            width: max(150px, 100%);
            height: 50%;
            object-fit: contain;
            overflow: hidden;
        }
    }
}